In [2]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os

In [57]:
load_dotenv()
zip_file_name = os.getenv('OS_FILENAME')
zip_dir = zip_file_name.replace('.zip', '')
csv_file_names = sorted(os.listdir(zip_dir))

f = lambda x: pd.read_csv(os.path.join(zip_dir, x))
# raw_dataframes = [pd.read_csv(f'{zip_dir}/{file_name}', header=None, nrows=1) for file_name in csv_file_names[:1]]
raw_dataframes = {pd.read_csv(f'{zip_dir}/{file_name}', header=None, nrows=1)[0][0]:pd.read_csv(f'{zip_dir}/{file_name}', header=None, nrows=1) for file_name in csv_file_names[:1]}

type_headings = {
    11:['record_identifier', 'change_type', 'pro_order', 'usrn', 'record_type', 'swa_org_ref_naming', 'state', 'state_date', 'street_surface', 'street_classification', 'version', 'street_start_date', 'street_end_date', 'last_update_date', 'record_entry_date', 'street_start_x', 'street_start_y', 'street_start_lat', 'street_start_long', 'street_end_x', 'street_end_y', 'street_end_lat', 'street_end_long', 'street_tolerance'],
    15:['record_identifier', 'change_type', 'pro_order', 'usrn', 'street_description', 'locality', 'town_name', 'administrative_area', 'language', 'start_date', 'end_date', 'last_update_date', 'entry_date'],
    21:['record_identifier', 'change_type', 'pro_order', 'uprn', 'logical_status', 'blpu_state', 'blpu_state_date', 'parent_uprn', 'x_coordinate', 'y_coordinate', 'latitude', 'longitude', 'rpc', 'local_custodian_code', 'country', 'start_date', 'end_date', 'last_update_date', 'entry_date', 'addressbase_postal', 'postcode_locator', 'multi_occ_count'],
    23:['record_identifier', 'change_type', 'pro_order', 'uprn', 'xref_key', 'cross_reference', 'version', 'source', 'start_date', 'end_date', 'last_update_date', 'entry_date'],
    24:['record_identifier', 'change_type', 'pro_order', 'uprn', 'lpi_key', 'language', 'logical_status', 'start_date', 'end_date', 'last_update_date', 'entry_date', 'sao_start_number', 'sao_start_suffix', 'sao_end_number', 'sao_end_suffix', 'sao_text', 'pao_start_number', 'pao_start_suffix', 'pao_end_number', 'pao_end_suffix', 'pao_text', 'usrn', 'usrn_match_indicator', 'area_name', 'level', 'official_flag'],
    28:['record_identifier', 'change_type', 'pro_order', 'uprn', 'udprn', 'organisation_name', 'department_name', 'sub_building_name', 'building_name', 'building_number', 'dependant_thoroughfare', 'thoroughfare', 'double_dependant_locality', 'dependant_locality', 'post_town', 'postcode', 'postcode_type', 'delivery_point_suffix', 'welsh_dependant_thoroughfare', 'welsh_thoroughfare', 'welsh_double_dependant_locality', 'welsh_dependant_locality', 'welsh_post_town', 'po_box_number', 'process_date', 'start_date', 'end_date', 'last_update_date', 'entry_date'],
    30:['record_identifier', 'change_type', 'pro_order', 'uprn', 'succ_key', 'start_date', 'end_date', 'last_update_date', 'entry_date', 'successor'],
    31:['record_identifier', 'change_type', 'pro_order', 'uprn', 'org_key', 'organisation', 'legal_name', 'start_date', 'end_date', 'last_update_date', 'entry_date'],
    32:['record_identifier', 'change_type', 'pro_order', 'uprn', 'class_key', 'classification_code', 'class_scheme', 'scheme_version', 'start_date', 'end_date', 'last_update_date', 'entry_date']
}

rd = {}
for file_name in csv_file_names[:10]:
    df = pd.read_csv(f'{zip_dir}/{file_name}', header=None, skiprows=[0], skipfooter=2, engine='python')
    record_type = df.iat[0,0]
    print(f'type: [{record_type}], count: [{len(df)}]')
    if rd.__contains__(record_type):
        rd[record_type] = pd.concat([rd[record_type], df])  
    else:
        rd[record_type] = df
        

print('-----')
print(zip_dir)
print(str(len(csv_file_names)))
print(csv_file_names[0])

type: [11], count: [1000000]
type: [11], count: [1000000]
type: [15], count: [1000000]
type: [15], count: [137732]
type: [21], count: [1000000]
type: [21], count: [1000000]
type: [21], count: [1000000]
type: [21], count: [1000000]
type: [21], count: [1000000]
type: [21], count: [1000000]
-----
downloads/AB76GB_CSV
366
AddressBasePremium_FULL_2024-05-29_001.csv

In [59]:
print(len(rd[21]))

6000000

In [64]:
rd[15][:10]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,15,I,1,7739845,HOLME INGS,NaN,ADDINGHAM,BRADFORD,ENG,2008-01-31,NaN,2017-03-26,1998-04-03
1,15,I,2,2501153,EASTCLIFFE,NaN,SPITTAL,NORTHUMBERLAND,ENG,2007-12-18,NaN,2016-02-06,2006-11-24
2,15,I,3,7401056,SHAWBROOK CLOSE,NaN,EUXTON,LANCASHIRE,ENG,2007-10-25,NaN,2016-02-06,1998-11-12
3,15,I,4,9101084,SCHOOL ROAD,NaN,SCHOLAR GREEN,CHESHIRE EAST,ENG,2007-12-19,NaN,2016-02-06,1999-10-09
4,15,I,5,27506212,ROSE ASH FOOTPATH 8,NaN,ROSE ASH,DEVON,ENG,2007-09-06,NaN,2016-02-06,2007-12-20
5,15,I,6,46602333,HEOL AWEL,NaN,ABERGELE,CONWY,ENG,2008-02-13,NaN,2016-02-06,2003-07-01
6,15,I,7,10403225,THORNBURY RISE,NaN,DARLINGTON,DARLINGTON,ENG,2007-10-17,NaN,2016-02-06,1998-11-03
7,15,I,8,46602333,HEOL AWEL,NaN,ABERGELE,CONWY,CYM,2016-02-03,NaN,2016-02-06,2003-07-01
8,15,I,9,44803080,BATE STREET FP274,NaN,WOLVERHAMPTON,WOLVERHAMPTON,ENG,2008-02-07,NaN,2017-03-26,1998-09-10
9,15,I,10,1000244,DEANERY BRAE,NaN,OBAN,ARGYLL AND BUTE,ENG,2003-03-24,NaN,2016-02-06,2003-03-24